.rhap_container {
    background-color: rgb(245, 148, 38);
    padding: 3px 5px;
}

.rhap_main {
    min-width: 200px;
}

.rhap_container svg {
    color: rgb(255, 255, 255);
}
.rhap_time {
    color: white;
}

.rhap_progress-section {
    flex: 5 1 auto;
    padding-right: 12px;
}

.rhap_horizontal-reverse .rhap_controls-section {
    margin-right: 0px;  
}
/* nut */
.rhap_progress-indicator { 
    background: #ffffff;
} 

.rhap_progress-bar {
    background-color: #e4e4e4;
}

.audio-player {
    min-width: 100px;
}