@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Noto+Sans:wght@600;700&display=swap');

.slick-dots-bottom {
  margin: 0 !important;
  padding: 0 !important;
}

.slick-dots li button:before{
  font-size: 0 !important;
}
