.banned-img {
    height: 11rem;
    width: 100%;
    object-fit: cover;
}
.description-text {
    text-justify: inter-word;
}
.line {
    border-top: 1.5px solid #d5d5d5;
}
.folder-icon {
    color: #f29b4e;
}

.mic-icon {
    color: #f15c45;
}